extends template.pug

block content
    //- atribute
    form(action="/api", method="post") 
        label(for="nume") Nume
        input#nume(type="text", name="nume")
        //- are si id ^

        label(for="prenume") Prenume
        input#prenume(type="text", name="prenume")

        button(type="submit") Submit